BODY { 
  background: #AAAAAA;
  }

#table {
  margin: auto;
  width: 60%;
}

.tablewin {
  display: none;
}
  
  .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
    display: table-cell;
    width: 20vw;
    border: 1px solid white;
    background: url("https://imgur.com/a/ize96Ef"); 
    cursor: pointer;
  }

  .tilewin {
    margin: auto;
    width: 60vw;
    height: 100vh;
    background: url(https://i.imgur.com/EAJ62Fo.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .tile1:before, .tile2:before, .tile3:before, .tile4:before, .tile5:before, .tile6:before, .tile7:before, .tile8:before, .tile9:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .tile1 {background-position: left top;}
  .tile2 {background-position: center top;}
  .tile3 {background-position: right top;}
  .tile4 {background-position: left center;}
  .tile5 {background-position: center center;}
  .tile6 {background-position: right center;}
  .tile7 {background-position: left bottom;}
  .tile8 {background-position: center bottom;}
  .tile9 {background: linear-gradient(to right, white , #AAAAAA); cursor: default;}